# I only want certain files to be tracked so 
# I'm ignoring everything except a few
*

# Files I want Tracked
!.gitignore
!./README.md
!base-post.php
!index-base.php
!project-posts.css

# Unignore subdirectories in order to find files I want to be tracked
!*/
