# I only want certain files to be tracked so 
# I'm ignoring everything except a few
*

# Files I want Tracked
!.gitignore
!./README.md
!./bases/base-post.php
!./bases/index-base.php
!./css/site-specific/project-posts.css

# Unignore subdirectories in order to find files I want to be tracked
!*/
